---
// src/components/FinalCTA.astro
---

<section class="bg-accent-primary text-background">
  <div
    class="container mx-auto max-w-screen-xl px-4 py-16 text-center sm:py-24"
  >
    <h2 class="font-heading text-3xl font-bold sm:text-4xl">
      Don't Get Lost In Cyberspace
    </h2>

    <p class="mx-auto mt-4 max-w-lg">
      We'll optimize your online presence so your business can thrive. Your
      customers will thank you. Your competitors will not.
    </p>

    <a
      href="/contact"
      class="mt-8 inline-block rounded-lg bg-white px-12 py-4 text-lg font-bold text-accent-primary shadow-lg transition-transform duration-300 hover:scale-105"
    >
      Get Help Now
    </a>
  </div>
</section>
