---
// src/components/ValueProp.astro
import { Image } from "astro:assets";
import teamImage from "../assets/images/ows-design-team.png";
---

<section class="px-4 sm:px-6 lg:px-8 py-20 sm:py-24 lg:py-32">
  <div class="mx-auto max-w-screen-xl">
    <!-- mobile → 1 col,   md → 2 cols -->
    <div class="grid gap-12 lg:grid-cols-2 items-center">
      <div class="text-center md:text-left px-4 md:px-0">
        <h2 class="font-heading text-3xl font-bold sm:text-4xl">
          A Hands-On Approach to Web&nbsp;Development
        </h2>

        <p class="mt-8 sm:mt-12 text-muted-text">
          The typical web-design-agency approach entails a lack of communication
          and transparency—coupled with high prices. We vehemently disagree with
          it.
        </p>

        <p class="mt-4 text-muted-text">
          Our team not only takes a creative approach to every project, but also
          ensures your customers receive the optimal website experience. We
          present your business in the most modern and professional lens
          possible.
        </p>
      </div>
      <div class="lg:order-2 px-4 md:px-0">
        <Image
          src={teamImage}
          alt="Optimize Web Solutions team collaborating on a website design"
          class="w-full rounded-lg shadow-lg"
        />
      </div>
    </div>
  </div>
</section>
